/Temp/__Backupscenes/0.backup
/Temp/ProcessJobs/b8613a84801a46c691ba1681b66ddf56.layout
/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
/Temp/StagingArea/WindowsPlayer.exe
/Temp/FSTimeGet-4da48b0c641c08f4c8240ee8e74e33ef
/Temp/FSTimeGet-7f59f0ff74c3c2a4e899e246c299ece9
/Temp/FSTimeGet-630340bdab815824592493ea083c07bd
/Temp/PlayerBuildAnalyticsEvents.json
/Temp/tempFile.res
/Temp/tempFile.resG
/Temp/UnityLockfile
/Temp/workerlic
